[submodule "Skye/vendor/spdlog"]
	path = Skye/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Skye/vendor/GLFW"]
	path = Skye/vendor/GLFW
	url = https://github.com/mpro34/glfw
[submodule "Skye/vendor/imgui"]
	path = Skye/vendor/imgui
	url = https://github.com/mpro34/imgui
[submodule "Skye/vendor/glm"]
	path = Skye/vendor/glm
	url = https://github.com/g-truc/glm
